/* line 4, /Users/shravankumarmadaan/Practice/Ruby/quesandans/app/assets/stylesheets/home.scss */
.navbar {
  margin-bottom: 0;
}

/* line 9, /Users/shravankumarmadaan/Practice/Ruby/quesandans/app/assets/stylesheets/home.scss */
.boxes .media {
  position: relative;
  border: thin solid #ddd;
  padding: 1em;
  border-radius: 10px;
  background-color: #eee;
}
/* line 16, /Users/shravankumarmadaan/Practice/Ruby/quesandans/app/assets/stylesheets/home.scss */
.boxes .media .time {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #666;
}
/* line 23, /Users/shravankumarmadaan/Practice/Ruby/quesandans/app/assets/stylesheets/home.scss */
.boxes .media a.btn {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
/* line 29, /Users/shravankumarmadaan/Practice/Ruby/quesandans/app/assets/stylesheets/home.scss */
.boxes .media:hover {
  cursor: pointer;
  background-color: #ddd;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

